<!doctype html>
<html lang="en">
  <head>
<!--    <script> window.location="/shop";</script>-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  

    <div class="contact2" style="background-image:url(https://miro.medium.com/max/1044/1*SRtha1Cb7gY6F6FtgE7_xw.png);height: 400px;" id="contact"></div>
    <title>JEK APPS</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">UNIMAL JEK APPS</h1>
      <p class="lead">Pengantar makanan seputaran kampus bukit indah</p>
      <a class="btn btn-primary btn-lg" href="/shop" role="button">Pelanggan</a>
      <a class="btn btn-primary btn-lg" href="/admin" role="button">jek Admin</a>
      <a class="btn btn-primary btn-lg" href="/admin" role="button">Driver</a>
      <hr class="my-4">
      <p>UNIVERSITAS MALIKUSSALEH&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>PROJEK MAHASISWA</b>&emsp;<a href="https://github.com/darshankparmar">FOOD AND TAXI DRIFE</a> </p>
      <p>JEK APPS GOO!!!&nbsp;&emsp;<b>.....</b>&emsp;<a href="https://github.com/7Har">...</a> </p>
      <footer>
        <p>&copy; 2022</p>
      </footer>
    </div>
    <div class="contact2" style="background-image:url(https://miro.medium.com/max/1044/1*SRtha1Cb7gY6F6FtgE7_xw.png);height: 400px;" id="contact"></div>

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>